@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

/*common*/
input {
    -webkit-appearance: none !important;
}
body, button, textarea, input {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
}
button, textarea, input {
    box-sizing: border-box;
    border: none;
    outline: none;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
p {
    color: #3b3b3bb2;
}
.content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}
.page-wrap {
    position: relative;
}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}
.flex-container {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.va-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.spacer_bottom,
.spacer_top,
.spacer {
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.spacer > * {
    -ms-flex-item-align: center;
    align-self: center;
}
.spacer_bottom > * {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.spacer_top > * {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.pos-center {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.photo-max-size {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.photo-full-size {
    object-position: top;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    object-fit: cover;
}
.d-ib {
    display: inline-block;
}
.hidden {
    display: none !important;
}
.mobile-visible {
    display: none;
}
.purple-btn {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 330px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background: #6DCAAD;
    color: #fefbff;
    cursor: pointer;
}
.purple-btn:hover {
    background: #2ae0a7;
}

.purple-btn.main__link.banner-button {
    margin-top: 0;

    position: absolute;
    right: 15px;
    top: 72%;
    transform: translateY(-50%);
}

.purple-btn.main__link.banner-button::after {
    display: none !important;
}
h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
}
/*end common*/

/*header*/
.header {
    background: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}
.logo {
    font-size: 0;
    max-width: 268px;
    padding: 5px 0px;
    z-index: 100;
}
.logo img {
    width: 100%;
}
.nav {
    width: 60%;
}
.nav__link-list {
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;
}
.nav__link {
    color: #000000;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__contacts-list {
    display: none;
}
.copyright {
    color: #313131;
    font-size: 20px;
}
.footer {
    padding-top: 2px;
    padding-bottom: 15px;
}
/*end header*/

/*main*/
.main {
    background: url('../images/bg/main-bg.jpg') no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
}
.main .content {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.main .content:after {
    content: '';
    position: absolute;
    background: url('../images/bg/main-bg-content.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    bottom: 0;
    right: -8px;
    width: 583px;
    height: 475px;
}
.callback,
.main__left {
    position: relative;
    z-index: 5;
}
.main__left {
    max-width: 530px;
}
h1 {
    font-size: 58px;
    line-height: 1.2;
}
.main__desc {
    margin-top: 59px;
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 1.2;
}
.main__link {
    margin-top: 77px;
}
.callback {
    position: absolute;
    right: 20px;
    top: 32px;
}
.callback > * {
    display: inline-block;
    vertical-align: middle;
}
.callback__btn {
    background: none;
    width: 272px;
    height: 54px;
    border: 2px solid #000104;
    box-sizing: border-box;
    text-align: center;
    line-height: 52px;
    font-size: 24px;
    cursor: pointer;
}
.callback__btn:hover {
    background: #000104;
    color: #FFFFFF;
}
.callback__phone {
    margin-right: 20px;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}
/*end main*/

/*banners*/
.banners {
    max-width: 1240px;
    margin: 40px auto 0;
}
.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 48.38%;
    margin-right: 3.24%;

    position: relative;
}
.banner:last-child {
    margin-right: 0;
}
.banner:after {
    content: '';
    display: block;
    padding-top: 66.666%;
}
/*end banners*/

/*about*/
.about {
    margin-top: 45px;
    position: relative;
    padding-top: 28px;
    padding-bottom: 35px;
}
.about:after {
    content: '';
    background: url('../images/bg/about-bg.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0; bottom: 0;
    left: -50px;
    width: 56.66%;
    opacity: 0.6;
}
.about__right {
    position: relative;
    z-index: 2;
    max-width: 460px;
    margin-left: auto;
}
.about__right h2 {
    margin-bottom: 34px;
}
.about__right p {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 24px;
}
.about__right p:last-child {
    margin-bottom: 0;
}
/*end about*/

/*why*/
.why {
    padding-top: 89px;
}
.why__list {
    max-width: 980px;
    margin: 45px auto 0;
}
.why__item {
    width: 180px;
    text-align: center;
}
.why__item-icon {
    width: 104px;
    height: 104px;
    /*border: 2px solid #4C0099;*/
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 0 auto 27px;
    border-radius: 50%;
}
.why__icon {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 54px;
    height: 54px;
}
.why__icon_1 {
    background: url('../images/why/icon-1.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.why__icon_2 {
    background: url('../images/why/icon-2.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.why__icon_3 {
    background: url('../images/why/icon-3.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.why__item-desc {
    font-size: 20px;
    line-height: 1.25;
}
/*end why*/

/*services*/
.services {
    margin-top: 85px;
}
.tabs {
    max-width: 1024px;
    border: 1px solid #cbcde2;
    padding: 30px;
    box-sizing: border-box;
    margin: 46px auto 0;
    background: url(../images/bg/main-bg.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
}
.tabs__links {
    padding: 10px 50px;
    background: #ffffff;
}
.tabs__colon {
    border: 1px solid #4C0099;
    height: 30px;
}
.tabs__link {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.2;
    padding: 16px 0;
    cursor: pointer;
}
.tabs__link:hover,
.tabs__link.active {
    color: #34098e;
}
.tabs__list {
    background: #ffffff;
    margin-top: 30px;
}
.services__link {
    display: block;
    margin: 30px auto 0;
}
.service {
    padding: 14px 28px;
    margin-bottom: -1px;
}
.service:not(:last-child) {
    border-bottom: 1px solid #a8a8a8;
}
.services__list {
    border: 1px solid #a8a8a8;
}
.service__price,
.service__title {
    font-size: 21px;
    line-height: 1.3;
}
.service__title {
    width: 60%;
    color: #000;
}

.service__price {
    margin-right: 10px;
}

.service__title span {
    display: block;
    color: #3b3b3bb2;
    font-size: 14px;
    margin-top: 5px;
}
/* .service__right > * {
    display: inline-block;
    vertical-align: middle;
} */
.service__right {
    display: flex;
    width: 38%;
    align-items: center;
    justify-content: flex-end;
}
.service__btn {
    margin-left: 20px;
    width: 152px;
    height: 46px;
    border: 1px solid #437D6B;
    box-sizing: border-box;
    background: none;
    font-size: 18px;
    color: #437D6B!important;
    padding: 10px 18px!important;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tab {
    display: none;
}
.tab.active {
    display: block;
}
/*end services*/

/*reviews*/
.reviews {
    padding-top: 63px;
}
.reviews__slider-center {
    max-width: 900px;
    box-sizing: border-box;
    border: 1px solid #666666;
    background: #ffffff;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 44px 54px 56px;
    margin: 30px auto 0;
}
.review {
    width: 100%;
}
.review:last-child {
    margin-right: 0;
}
.review__text {
    position: relative;
    color: #333333;
    line-height: 1.55;
    padding-bottom: 31px;
    font-size: 16px;
    border-bottom: 1px solid #e7e7e7;
}
.review__text:after {
    content: '';
    position: absolute;
    background: url('../images/review-arrow.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 15px;
    height: 14px;
    left: 30px;
    bottom: -14px;
}
.review__name {
    margin-top: 14px;
    font-family: serif;
    font-size: 23px;
    color: #333333;
    font-weight: 700;
    line-height: 1.3;
}
.review__date {
    margin-top: 8px;
    color: #636363;
    font-size: 16px;
}
.reviews__slider {
    position: relative;
    padding: 0 100px;
}
.reviews__prev,
.reviews__next {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    width: 76px;
    height: 76px;
    border: 2px solid #E6D0DE;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 10;
}
.reviews__prev:hover,
.reviews__next:hover {
    background: #E6D0DE;
}
.reviews__prev {
    left: 0;
}
.reviews__next {
    right: 0;
}
.reviews__next .svg-icon {
    right: -4px;
}
.reviews__prev .svg-icon {
    left: -2px;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}
.reviews__next:hover .svg-icon,
.reviews__prev:hover .svg-icon {
    fill: #ffffff;
}
.icon-arrow {
    width: 17px;
    height: 26px;
    fill: #e6d0dc;
}
.reviews__slider .owl-dots {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 0;
    bottom: -29px;
    text-align: center;
}
.reviews__slider button.owl-dot {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    border: 1px solid #59565f;
    box-sizing: border-box;
    border-radius: 50%;
}
.reviews__slider button.owl-dot:last-child {
    margin-right: 0;
}
.reviews__slider button.owl-dot:hover,
.reviews__slider button.owl-dot.active {
    border-color: #4c296d;
    background: #4c296d;
}
/*end reviews*/

/*certificates*/
.certificates {
    padding-top: 85px;
}
.certificates__list {
    max-width: 880px;
    margin: 60px auto 0;
}
.certificate {
    width: 47.27%;
    padding: 10px;
    border: 10px solid #cbcde2;
    box-sizing: border-box;
}
.certificate img {
    width: 100%;
}
/*end certificates*/

/*contacts*/
.contacts {
    margin-top: 75px;
}
.contacts .content {
    position: relative;
}
#map {
    background: #e3e3e3;
    height: 454px;
}
.contacts__block {
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    padding: 41px 20px 58px 34px;
    width: 352px;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 46px;
    left: 80px;
    top: 68px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0);
}
.contacts__block h2 {
    font-size: 30px;
}
.contacts__sub-title {
    margin-top: 25px;
    font-size: 24px;
    line-height: 1.3;
    color: #030303;
    margin-bottom: 45px;
}
.contact__icon .svg-icon,
.contact__icon {
    width: 44px;
    height: 44px;
}
.contact__icon {
    left: -10px;
    position: absolute;
    top: -13px;
}
.contact__icon .icon-phone {
    position: relative;
    width: 54px;
    height: 54px;
    left: -5px;
    top: -1px;
}
.contact {
    padding-left: 48px;
    margin-bottom: 51px;
    position: relative;
}
.contact:last-child {
    margin-bottom: 0;
}
.contact p,
.contact a {
    text-decoration: none;
    font-size: 21px;
    color: #000000;
}
.ymaps-2-1-79-ground-pane {
    -webkit-filter: grayscale(100%);
}
.menu-btn {
    display: none;
}
/*end contacts*/



@media all and (max-width: 1100px) {
    .nav {
        width: 58%;
    }
    .nav__link {
        font-size: 16px;
    }
    .about__right {
        max-width: 44%;
    }
    .about__right p {
        font-size: 18px;
        line-height: 1.35;
    }
}

@media all and (max-width: 980px) {
    .logo {
        max-width: 220px;
    }
    .nav__link {
        font-size: 15px;
    }
    .contacts__block {
        left: 20px;
        max-width: 325px;
        width: 100%;
        border-radius: 10px;
        padding: 30px 20px 30px 20px;
    }
    .contact p,
    .contact a {
        font-size: 20px;
    }
    h2 {
        font-size: 34px;
    }
    .tabs {
        margin-left: -30px;
        margin-right: -30px;
    }
    .tabs__links {
        padding-left: 25px;
        padding-right: 25px;
    }
    h1 {
        font-size: 50px;
    }
    .main__left {
        max-width: 400px;
    }
    .main__desc {
        margin-top: 30px;
        font-size: 17px;
        line-height: 1.5;
    }
    .main__link {
        margin-top: 40px;
    }
    .main .content {
        padding-top: 100px;
    }
    .main .content:after {
        width: 491px;
        height: 400px;
    }
    .callback__phone {
        font-size: 21px;
    }
    .callback__btn {
        height: 46px;
        line-height: 44px;
        font-size: 21px;
        max-width: 200px;
    }
}

@media all and (max-width: 900px) {
    .nav__link {
        font-size: 14px;
    }
    h2 {
        font-size: 32px;
    }
    .service__title {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .service__right {
        width: 100%;
        justify-content: space-between;
    }
    .about__right p {
        font-size: 17px;
    }
    .about__right h2 {
        margin-bottom: 22px;
    }
    .main .content:after {
        width: 429px;
        height: 350px;
    }
}

@media all and (max-width: 850px) {
    .logo {
        max-width: 200px;
    }
    .tabs__link {
        font-size: 19px;
    }
}

@media all and (max-width: 767px) {
    .nav {
        display: none;
    }
    .nav__contacts-list {
        display: block;
    }
    .nav__link-list {
        flex-direction: column;
        padding-top: 60px;
    }
    .nav__contacts-list {
        margin-bottom: 5px;
        font-size: 17px;
    }
    .copyright {
        font-size: 15px;
    }
    .contacts__block {
        position: static;
        max-width: 280px;
        border: none;
        padding: 0 0 50px;
        box-shadow: none;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts__sub-title {
        text-align: center;
        font-size: 22px;
        margin-top: 18px;
        margin-bottom: 40px;
    }
    .contact {
        margin-bottom: 40px;
    }
    .contacts__list {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .certificates__list {
        margin-top: 30px;
    }
    h2 {
        font-size: 30px;
    }
    .certificate {
        width: 48.27%;
        border-width: 3px;
    }
    .reviews__slider {
        padding-left: 20px;
        padding-right: 20px;
    }
    .reviews__prev, .reviews__next {
        background: #ffffff;
        width: 40px;
        height: 40px;
    }
    .reviews__prev .svg-icon,
    .reviews__next .svg-icon {
        width: 11px;
        height: 17px;
    }
    .reviews__next .svg-icon {
        right: -2px;
    }
    .reviews__slider-center {
        padding-left: 20px;
        padding-right: 20px;
    }
    .reviews__slider {
        padding-left: 0;
        padding-right: 0;
    }
    .review__date,
    .review__name {
        text-align: center;
    }
    .reviews__prev, .reviews__next {
        top: auto;
        bottom: 16px;
    }
    .reviews__prev {
        left: 10px;
    }
    .reviews__next {
        right: 10px;
    }
    .review__text:after {
        left: 0; right: 0;
        margin: 0 auto;
    }
    .review__text {
        font-size: 15px;
    }
    .tabs__link {
        font-size: 17px;
    }
    #map {
        height: 350px;
    }
    .why__item {
        width: 160px;
    }
    .why__item-desc {
        font-size: 18px;
        line-height: 1.3;
    }
    .banner {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .banner:last-child {
        margin-bottom: 0;
    }
    .about {
        margin-top: 35px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .about__right {
        max-width: inherit;
    }
    .about:after {
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0.2;
    }
    .why {
        padding-top: 70px;
    }
    h1 {
        font-size: 40px;
    }
    .main .content:after {
        opacity: 0.2;
    }
    .main__left {
        padding-top: 30px;
        max-width: inherit;
    }
    .header {
        position: relative;
    }
    .menu-btn {
        z-index: 101;
        display: block;
        position: absolute;
        right: 20px;
        top: 0; bottom: 0;
        margin: auto;
        width: 34px;
        height: 21px;
        border-top: 3px solid #22253E;
        border-bottom: 3px solid #22253E;
    }
    .menu-btn:after,
    .menu-btn:before {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
        background: #22253E;
        width: 100%;
        height: 3px;
    }
    .menu-btn.open {
        height: 22px;
        border-top: none;
        border-bottom: none;
    }
    .menu-btn.open:after {
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }
    .menu-btn.open:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    }
    .menu {
        left: auto;
        position: fixed;
        width: 100%;
        top: 0;
        right: -100%;
        background: #ffffff;
        padding: 60px 20px;
        height: 100%;
        box-sizing: border-box;
        z-index: 99;
        display: block;
        transition: all, 0.3s;
    }
    .menu.open {
        right: 0;
        display: flex;
        align-content: space-between;
    }
    .menu .nav__link {
        display: block;
        margin-bottom: 5px;
        font-size: 17px;
    }
    .menu .nav__link:last-child {
        margin-bottom: 0;
    }

}

@media all and (max-width: 700px) {
    .tabs__colon {
        display: none;
    }
    .tabs__link {
        font-size: 16px;
    }
}

@media all and (max-width: 600px) {
    .tabs__link {
        font-size: 15px;
    }
}

@media all and (max-width: 550px) {
    .content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer .logo {
        display: block;
        margin: 0 auto 10px;
    }
    .copyright {
        padding-bottom: 10px;
    }
    .footer {
        display: block;
        text-align: center;
    }
    h2 {
        font-size: 28px;
        line-height: 1.35;
    }
    .certificates__list {
        max-width: 320px;
    }
    .certificate {
        width: 100%;
        margin-bottom: 20px;
    }
    .certificate:last-child {
        margin-bottom: 0;
    }
    .service {
        padding-left: 15px;
        padding-right: 15px;
    }
    .tabs__link {
        font-size: 17px;
        width: 100%;
        display: block;
    }
    .service__btn {
        margin-left: 0;
        margin-top: 15px;
    }
    .service__title {
        padding-bottom: 15px;
        font-size: 19px;
        line-height: 1.3;
    }
    #map {
        height: 300px;
    }
    .why__list {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .why__item {
        width: 100%;
        margin-bottom: 36px;
    }
    .why__item:last-child {
        margin-bottom: 0;
    }
    .main .content:after {
        width: 320px;
        height: 261px;
    }
    .callback {
        right: 15px;
    }
    h1 {
        font-size: 36px;
    }
    .main__left {
        padding-top: 14px;
    }

}

@media all and (max-width: 450px) {
    h2 {
        font-size: 26px;
    }
    .reviews__slider-center {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }
    .callback__phone {
        font-size: 17px;
        margin-right: 10px;
    }
    .callback__btn {
        height: 36px;
        max-width: 150px;
        font-size: 17px;
        line-height: 34px;
    }
}

@media all and (max-width: 350px) {
    .callback {
        right: 10px;
    }
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about__right p {
        letter-spacing: -0.005em;
    }
    .callback__phone {
        font-size: 16px;
        margin-right: 6px;
    }
}

/*----------------------Модальное окно форы записи----------------------*/
.page-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
}
a.btn {
  padding: 15px;
  color: #000104;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
}
.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
.modal {
  width: 500px;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fafafa;
}
.modal-wrapper.open .modal {
  opacity: 1;
}
.head{
  width: 100%;
  height: 100%;
  margin: 0 0 14px;
  padding: 5px 30px;
  overflow: hidden;
  position: absolute;
}
.btn-close {
  position: absolute;
  top: 0;
  right: 2%;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
}
.btn-close:hover {
    transform: scale(1.2);
}

.modal .content {
  padding: 0 0 20px 0;
}
.good-job {
  text-align: center;
  font-family: 'Montserrat', Arial,       Helvetica, sans-serif;
  color: #e2525c;
}
.good-job p {
    padding: 20px;
    color: gray;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}
.good-job .fa-thumbs-o-up {
  font-size: 60px;
}
.good-job h1 {
  font-size: 45px;
}
.form_modal_window{
  max-width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form_modal__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50000;
    opacity: 0;
}

.checkbox__container input:checked+label::after {
    content: "";
    display: block;
    width: 9px;
    height: 12px;
    border-bottom: 1px solid #6DCAAD;
    border-right: 1px solid #6DCAAD;
    position: absolute;
    top: 40%;
    left: 6px;
    transform: translateY(-50%) rotate(45deg);
}

.checkbox__container {
    position: relative;
    text-align: left;

    user-select: none;

    margin-bottom: 15px;
}

.form_modal__label {
    color: #3b3b3bb2;
    text-align: left;
    padding-left: 30px;
}

.form_modal__label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.modal .content .text{
  background: url("../Bright-Purple-Wallpaper-59-images.jpg");
  color: #fff;
  padding: 10px;
  margin: 20px 0;
}
.modal .content .text h2{
  margin:0;
  font-size: 35px;
}
.modal .content .text p{
  margin:0;
  font-size: 14px;
}
.modal-wrapper{
  margin: 0 0 20px 0;
}
.modal .content form input {
  color: #000;
  padding: 15px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 1px #e9e9e9;
  font-size: 15px;
}
.modal .content form input[type=submit]{
  padding: 10px 40px;
  max-width: 200px;
  margin: auto;
  border-radius: 54px;
  color: #fff;
  background: #f7b231;
  background: -moz-linear-gradient(top, #ffc281 0%, #ff8c97 100%);
  background: -webkit-linear-gradient(top, #ffc281 0%, #ff8c97 100%);
  background: linear-gradient(to bottom, #ffc281 0%, #ff8c97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-yellow', endColorstr='$color-pink', GradientType=0);
  font-size: 15px;
  text-shadow: 0px 0px 6px #e54242;
  display: inline-block;
  border: none;
  outline: none;
}
.banner-title {
    position: absolute;
    top: 73px;
    font-size: 46px;
    width: 330px;
    right: 5px;
    line-height: 1.2;
}
.banner-srok-akciy {
    position: absolute;
    bottom: 48px;
    right: 35px;
}
@media all and (max-width: 550px) {
.banner-title {
    position: absolute;
    top: 30px;
    font-size: 30px;
    width: 220px;
    right: 5px;
}
.banner-srok-akciy {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
}
@media all and (max-width: 550px) {
    .modal {
        width: 80%;
    }
    .good-job p {
        padding: 24px;
    }

    .purple-btn.main__link.banner-button {
        max-width: 230px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}