<section class="services" id="uslugi">
  <h2>
    НАШИ УСЛУГИ
  </h2>

  <div id="accordion" class="accordion">
    <div class="accordion-item">
      <div class="accordion-item-header">
        <span class="accordion-close"></span>
        <span class="accordion-close-text">Инъекции</span>
      </div>
      <div class="accordion-item-content">

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Aquashine HA<span>(Аквашайн ХА, 2 мл)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              12 600 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Aquashine HA BR<span>(Аквашайн ХА БР, 2 мл)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              12 600 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Beautelle 30+<span>(Бьютиэль 30+), 2 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              4 500 Р
              <span class="accordion-no-discount">9 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Beautelle 40+<span>(Бьютиэль 40+), 2 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              5 000 Р
              <span class="accordion-no-discount">10 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Beautelle Age+<span>(Бьютиэль Эйдж +), 2 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              6 000 Р
              <span class="accordion-no-discount">12 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Filorga M-HA18<span>(Филорга Эм-Эйч-Эй 18), 1 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              12 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Meso Sculpt C71<span>(Мезо Скульпт), 1 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              7 500 Р
              <span class="accordion-no-discount">15 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Meso Wharton P199<span>(Мезо Вартон П 199), 1,5 мл)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              7 500 Р
              <span class="accordion-no-discount">15 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация MesoEye C71<span>(Мезо Ай), 1 мл)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              7 500 Р
              <span class="accordion-no-discount">15 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Биоревитализация Pluryal Booster<span>(Плюреаль Бустер), 1 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              12 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Мезотерапия Mesoline ACNE<span>(Мезолайн Акне), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              2 000 Р
              <span class="accordion-no-discount">4 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Мезотерапия Mesoline ANTIOX<span>(Мезолайн Антиокс), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              2 000 Р
              <span class="accordion-no-discount">4 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Мезотерапия Mesoline BodyContour<span>(Мезолайн БодиКонтур), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              1 000 Р
              <span class="accordion-no-discount">2 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Мезотерапия Mesoline HAIR<span>(Мезолайн Хэйр), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              2 000 Р
              <span class="accordion-no-discount">4 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Мезотерапия Mesoline REFRESH<span>(Мезолайн Рефреш), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              2 000 Р
              <span class="accordion-no-discount">4 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Мезотерапия Mesoline SHINE<span>(Мезолайн Шайн), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              2 000 Р
              <span class="accordion-no-discount">4 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Мезотерапия Mesoline TIGHT<span>(Мезолайн Тайт), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              2 000 Р
              <span class="accordion-no-discount">4 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Редермализация Hyalual 1,1%<span>(Гиалуаль), 1 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              8 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Редермализация Hyalual 1,1%<span>(Гиалуаль), 2 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              15 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Редермализация Hyalual 1,8%<span>(Гиалуаль), 1 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              10 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Редермализация Hyalual 1,8%<span>(Гиалуаль), 2 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              17 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Редермализация Hyalual 2,2%<span>(Гиалуаль), 1 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              11 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Редермализация Hyalual 2,2%<span>(Гиалуаль), 2 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              19 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Внутрикожное введение лекарственных препаратов, 1 ед.
            <span>(лечение гипергидроза, Ботокс)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              160 Р
              <span class="accordion-no-discount">320 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Внутримышечное введение лекарственных препаратов, 1 ед.
            <span>(лицо, Ботокс)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              160 Р
              <span class="accordion-no-discount">320 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Внутримышечное введение лекарственных препаратов, 1 ед.
            <span>(лицо, Диспорт)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              75 Р
              <span class="accordion-no-discount">150 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Внутрикожное введение лекарственных препаратов, 1 ед.
            <span>(лечение гипергидроза, Диспорт)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              70 Р
              <span class="accordion-no-discount">140 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Внутримышечное введение лекарственных препаратов
            <span>(без стоимости медикаментов)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              250 Р
              <span class="accordion-no-discount">500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <span class="accordion-close"></span>
        <span class="accordion-close-text">Пилинг</span>
      </div>
      <div class="accordion-item-content">

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Накожное применение лекарственных препаратов<span>(поверхностный гликолевый пилинг)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              3 500 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Накожное применение лекарственных препаратов<span>ТСА пилинг срединный (лицо)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              6 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Пилинг ретиноевый желтый, поверхностная дермальная стимуляция<span>(лицо)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              5 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Пилинг Ahа<span>гликолевый пилинг, желтый пилинг, карбоновый пилинг, лазерная шлифовка, миндальный пилинг</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              6 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Пилинг Биорепил (BioRePeel)<span>декольте</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              8 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Пилинг Биорепил (BioRePeel)<span>лицо</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              5 500 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Пилинг Биорепил (BioRePeel)<span>шея</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              5 500 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Пилинг Биорепил (BioRePeel)<span>шея + декотельте</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              10 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Пилинг карбоновый<span>лицо + шея</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              4 500 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>


      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <span class="accordion-close"></span>
        <span class="accordion-close-text">Контурная пластика</span>
      </div>
      <div class="accordion-item-content">



        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных имплантатов в мягкие ткани Sculptra<span>(Скульптра), 5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              50 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных наполнителей в мягкие ткани с целью коррекции формы AestheFill V200<span>(Эстефил)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              50 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных наполнителей в мягкие ткани с целью коррекции формы Filorga X-HA Volume<span>(Филорга)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              18 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных наполнителей в мягкие ткани с целью коррекции формы Filorga X-HA3<span>(Филорга)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              16 500 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных наполнителей в мягкие ткани с целью коррекции формы Pluryal Classic <span>(Плюреаль
              Классик)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              16 200 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных наполнителей в мягкие ткани с целью коррекции формы Pluryal Volum<span>(Плюреаль Валюм)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              18 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных наполнителей в мягкие ткани с целью коррекции формы Radiesse<span>(Радиесс), 1.5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              25 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Введение искусственных наполнителей в мягкие ткани с целью коррекции формы Radiesse<span>(Радиесс), 3 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              36 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Векторная пластика препаратом Radiesse<span>(Радиесс), 1.5 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              25 000 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Контурная пластика препаратом Juvederm VOLIFT RETOUCH<span>(Ювидерм ВоЛифт РеТач) 0,55 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              12 500 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Контурная пластика препаратом Juvederm VOLIFT with Lidocaine<span>(Ювидерм ВоЛифт с лидокаином) 1 мл</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              21 300 Р
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

      </div>
    </div>


    <div class="accordion-item">
      <div class="accordion-item-header">
        <span class="accordion-close"></span>
        <span class="accordion-close-text">Массаж лица</span>
      </div>
      <div class="accordion-item-content">

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Массаж лица медицинский
            <span>(классический), 30 мин</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              950 Р
              <span class="accordion-no-discount">1 900 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Массаж лица медицинский (классический)
            <span>(моделирующий, лифтинг-массаж, хиромассаж), 60 мин</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              1 750 Р
              <span class="accordion-no-discount">3 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Массаж лица медицинский
            <span>(по Жаке), 15 мин</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              500 Р
              <span class="accordion-no-discount">1 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

      </div>
    </div>



    <div class="accordion-item">
      <div class="accordion-item-header">
        <span class="accordion-close"></span>
        <span class="accordion-close-text">Уход за кожей лица</span>
      </div>
      <div class="accordion-item-content">

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Чистка лица аппаратная, атравматическая чистка лица, комбинированная чистка лица, механическая чистка
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              1 250 Р
              <span class="accordion-no-discount">2 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Экспресс процедура " is clinical "
            <span>(лицо) 45 мин</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              1 900 Р
              <span class="accordion-no-discount">3 800 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
          Чистка лица. Демакияж, гидрирование, ультразвуковой пилинг, элементы ручной чистки, маска, финальный крем
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              1 750 Р
              <span class="accordion-no-discount">3 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            Чистка лица. Демакияж, ультразвуковой пилинг, маска, финальный крем
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              1 750 Р
              <span class="accordion-no-discount">3 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

      </div>
    </div>





    <div class="accordion-item">
      <div class="accordion-item-header">
        <span class="accordion-close"></span>
        <span class="accordion-close-text">Аппаратная процедура</span>
      </div>
      <div class="accordion-item-content">

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Шея</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              12 500 Р
              <span class="accordion-no-discount">25 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Подчелюстная зона</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              6 250 Р
              <span class="accordion-no-discount">12 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Вокруг глаз (верхнее и нижнее веко)</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              6 750 Р
              <span class="accordion-no-discount">13 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Щеки</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              5 250 Р
              <span class="accordion-no-discount">10 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Лоб</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              4 250 Р
              <span class="accordion-no-discount">8 500 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Подбородок</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              4 000 Р
              <span class="accordion-no-discount">8 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Зона декольте</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              12 000 Р
              <span class="accordion-no-discount">24 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Кисетные морщины</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              2 500 Р
              <span class="accordion-no-discount">5 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

        <div class="accordion-item-content-item">
          <p class="accordion-item-content-title">
            SMAS лифтинг
            <span>Все лицо полностью</span>
          </p>
          <div class="accordion-item-content-info">
            <span class="accordion-item-content-price">
              15 000 Р
              <span class="accordion-no-discount">30 000 Р</span>
            </span>
            <a href="#" class="btn trigger services__btn">Записаться</a>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="services__expert">
    <div class="services__expert-item  services__expert-item-slider">
      <div class="services__expert-slider owl-carousel" id="expert">
        <div class="services__expert-slide">
          <img src="images/expert/expert1.jpg" alt="expert-1">
        </div>
        <div class="services__expert-slide">
          <img src="images/expert/expert2.jpg" alt="expert-2">
        </div>
        <div class="services__expert-slide">
          <img src="images/expert/expert3.jpg" alt="expert-3">
        </div>
        <div class="services__expert-slide">
          <img src="images/expert/expert4.jpg" alt="expert-4">
        </div>
        <div class="services__expert-slide">
          <img src="images/expert/expert5.jpg" alt="expert-5">
        </div>
        <div class="services__expert-slide">
          <img src="images/expert/expert6.jpg" alt="expert-6">
        </div>
        <div class="services__expert-slide">
          <img src="images/expert/expert7.jpg" alt="expert-7">
        </div>
        <div class="services__expert-slide">
          <img src="images/expert/expert8.jpg" alt="expert-8">
        </div>

      </div>
      <span class="services__expert-next"></span>
      <span class="services__expert-prev"></span>

    </div>

    <div class="services__expert-item  services__expert-item-text">
      <div class="services__title">специалист</div>
      <h3 class="services__item-title">
        Врач- косметолог <br>
        Лазаренко Екатерина Сергеевна
      </h3>
      <p class="services__item-info">
        <strong>Образование: </strong>
        Гомельский Государственный Медицинский Университет, 2016 г.
      </p>
      <p class="services__item-info">
        Врач владеет всеми техниками эстетической и инъекционной косметологии, мезотерапией.
      </p>
      <p class="services__item-info">
        Страница специалиста на сайте
        <a href="https://factorsmile.ru/specialisty/lazarenko-ekaterina-sergeevna" target="_blank"
          class="services__item-link">
          https://factorsmile.ru/specialisty/lazarenko-ekaterina-sergeevna
        </a>
      </p>
    </div>
  </div>



  <div class="services__preparation">
    <div class="services__preparation-item  services__preparation-item-text">
      <div class="services__title">препараты</div>
      <h3 class="services__item-title">
        Мы используем профессиональный бренд - iS CLINICAL

      </h3>
      <p class="services__item-info">
        Продукцию производит калифорнийская фирма Innovative Skincare, которая уже больше 20 лет занимается разработкой профессиональной косметики премиум-класса.
      </p>
      <p class="services__item-info">
        Все препараты iS CLINICAL разработаны в результате длительных фармакологических и биохимических исследований,
        многоэтапных тестирований и имеют соответствующую сертификацию о качестве и абсолютной безопасности. Они состоят из
        тщательно отобранных инновационных ингредиентов и имеют подтверждённую эффективность.
      </p>
      <!-- <p class="services__item-info">
        Официальный сайт бренда
        <span class="services__item-link">https://isclinical.ru/</span>
      </p> -->
    </div>
    <div class="services__preparation-item  services__preparation-item-slider">
      <div class="services__preparation-slider owl-carousel" id="preparation">
        <div class="services__preparation-slide">
          <img src="images/preparation/prep1.jpg" alt="preparation-1">
        </div>
        <div class="services__preparation-slide">
          <img src="images/preparation/prep2.jpg" alt="preparation-2">
        </div>
        <div class="services__preparation-slide">
          <img src="images/preparation/prep3.jpg" alt="preparation-3">
        </div>
        <div class="services__preparation-slide">
          <img src="images/preparation/prep4.jpg" alt="preparation-4">
        </div>
      </div>
      <span class="services__preparation-next"></span>
      <span class="services__preparation-prev"></span>
    </div>
  </div>

  <div class="services__furnishing">
    <div class="services__furnishing-title">
      оборудование
    </div>
    <div class="services__furnishing-items-wpapper">
      <div class="services__furnishing-items">
        <div class="services__furnishing-item">
          <h3 class="services__item-title">Профессиональный аппарат ультразвукового пилинга Bio Sonic-Wave, Gezatone
          </h3>
          <p class="services__item-info">
            Профессиональный аппарат ультразвукового пилинга Bio Sonic-Wave, Gezatone. Сочетает в себе функции основных
            ультразвуковых воздействий для коррекции эстетических недостатков лица и тела.
          </p>
          <!-- <span class="services__item-link">https://beautyway-s.ru/product/apparat-ultrazvukovogo-pilinga-s-ru-minzdrava-rf-bio-sonic-wave-gezatone/</span> -->
        </div>
        <div class="services__furnishing-item">
          <h3 class="services__item-title">Вапоризатор (распариватель) для лица АтисМед</h3>
          <p class="services__item-info">
            Обеспечивает деликатное распаривание лица.
          </p>
          <!-- <span class="services__item-link">https://medmart.pro/products/vaporizator-kosmetologicheskij-atismed-vts</span> -->
        </div>
      </div>
      <div class="services__furnishing-items">
        <div class="services__furnishing-item">
          <h3 class="services__item-title">Лампа-лупа светодиодная на штативе Silver Fox</h3>
          <p class="services__item-info">
            Используется косметологами для подсветки и увеличения места проведения косметологических процедур.
          </p>
          <!-- <span class="services__item-link">https://spb.tiu.ru/p209987169-lampa-lupa-svetodiodnaya.html</span> -->
        </div>
        <div class="services__furnishing-item">
          <h3 class="services__item-title">Дарсонваль для лица, тела и волос , Biolift 4 203, Gezatone</h3>
          <p class="services__item-info">
            Прибор улучшает состояние кожи, ускоряет рост волос, оказывает обезболивающее действие
          </p>
          <!-- <span class="services__item-link">https://www.beauty-shop.ru/catalog/darsonval-dlya-litsa-tela-i-volos-s-5-nasadkami-biolift-4-203-gezatone.html</span> -->
        </div>
      </div>
    </div>
  </div>
</section>